@import "../globals.css";

@column-padding: @padding-less;
@index-padding: @padding-less;

@index-height: (@line-height-5 + (@index-padding * 2));

@body-padding-x: @padding;
@body-padding-y: @index-height;
@banner-height: calc(100vh - (@body-padding-y * 2));

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	min-height: 100%;
}

body {
	font-size: @font-size;
	line-height: @line-height;
	min-height: 100vh;

	@media screen {
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;

		padding-top: @body-padding-y;
		padding-left: @body-padding-x;
		padding-right: @body-padding-x;
		padding-bottom: @body-padding-y;
	}
}

p {
	font-size: @font-size;
	line-height: @line-height;
}

a {
	color: inherit;

	@media print {
		text-decoration: none;
	}

	@media screen {
		font-style: italic;

		text-decoration: underline;
		text-decoration-thickness: @font-size-underline;
		text-decoration-color: rgba(0, 0, 0, (1 - (1 / @ratio)));
		text-decoration-style: solid;

		outline: 0;
		opacity: 1;

		transition: all @speed;

		&:hover,
		&:focus {
			opacity: (1 / @ratio);
		}
	}
}

small {
	font-size: (100% / @font-ratio);
}

sup,
sub {
	font-size: (100% / @ratio);
}

sup,
sub {
	line-height: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

p,
ol,
ul {
	text-align: left;
	text-align-last: left;

	@media (min-width: @justify-width) {
		text-align: justify;
		text-align-last: left;
	}
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
	margin-top: 0;
	font-weight: normal;
}

p,
ul,
ol,
pre {
	margin-bottom: @font-size;

	&:last-child {
		margin-bottom: 0;
	}
}

li,
li p {
	margin-bottom: (@font-size / @ratio);

	&:last-child {
		margin-bottom: 0;
	}
}

h6 {
	font-weight: bold;
	font-size: @font-size;
	line-height: @line-height;
	margin-bottom: calc(@line-height / @ratio);
}

h5 {
	font-size: @font-size-1;
	line-height: @line-height-1;
	margin-bottom: calc(@line-height-1 / @ratio);
}

h4 {
	font-size: @font-size-2;
	line-height: @line-height-2;
	margin-bottom: calc(@line-height-2 / @ratio);
}

h3 {
	font-size: @font-size-3;
	line-height: @line-height-3;
	margin-bottom: calc(@line-height-3 / @ratio);
}

h2 {
	font-size: @font-size-4;
	line-height: @line-height-4;
	margin-bottom: calc(@line-height-4 / @ratio);
}

h1 {
	font-size: @font-size-5;
	line-height: @line-height-5;
	margin-bottom: calc(@line-height-5 / @ratio);
}

pre {
	font-size: @font-size--2;
	line-height: @line-height--2;
	margin-bottom: @line-height;
}

.line-block {
	white-space: nowrap;
	margin-bottom: @padding;

	& + .line-block {
		margin-top: @padding-less * -1;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.either {
	@media print {
		.print {
			display: initial;
		}

		.screen {
			display: none;
		}
	}

	@media screen {
		.print {
			display: none;
		}

		.screen {
			display: initial;
		}
	}
}

.only {
	&.print {
		@media screen {
			display: none;
		}
	}

	&.screen {
		@media print {
			display: none;
		}
	}
}

.banner {
	text-align: center;
	text-align-last: center;

	a {
		text-decoration: none;
	}

	@media screen {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.index,
.page {
	width: 100%;
	margin: 0 auto;

	@media screen {
		max-width: @page-width;
	}
}

.index {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	p,
	ul,
	li {
		margin-bottom: 0;
	}

	p {
		@media screen {
			font-size: @font-size-5;
			line-height: @line-height-5;
		}

		@media print {
			font-size: (@font-size * @ratio);
			line-height: (@font-size * @ratio);
		}
	}

	a {
		text-decoration: none;
	}

	a,
	.subtitle {
		user-select: none;
	}

	ul {
		display: flex;
		list-style-type: none;
		column-gap: @padding-less;
	}

	ul:first-child:last-child {
		margin: 0 auto;
	}

	li,
	> .subtitle {
		display: inline-block;
		font-size: @font-size-1;
		line-height: @line-height-5;
	}

	> .subtitle {
		font-style: italic;

		&:empty {
			display: none;
		}
	}

	> .subtitle + p,
	> .subtitle + .either {
		order: -1;
	}

	&[data-indexed=1] > .subtitle {
		display: none;
	}

	@media screen {
		padding: @index-padding 0;

		> .subtitle {
			opacity: (1 / @ratio);
			padding: 0 @padding;
			flex-grow: 1;
		}
	}

	@media print {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		ul {
			display: none;
		}

		p {
			text-align: center;
			text-align-last: center;
		}
	}

	body > & {
		@media print {
			break-after: always;
		}
	}
}

.page {
	> * {
		width: 100%;
	}

	> .row > .column {
		padding: @column-padding 0;
	}

	> p:first-child:last-child,
	> .row > .column > p:first-child:last-child {
		text-align: justify;
		text-align-last: left;
	}

	@media print {
		> .index {
			display: none;
		}

		> .row > .column {
			break-inside: avoid;
			break-before: always;
			min-height: 100vh;
		}
	}

	@media screen {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		> .index {
			z-index: 1;
			position: relative;
		}

		> .index + .row {
			order: -1;
		}

		> .index + .row > .banner {
			min-height: @banner-height;
		}

		> .index + .row + .row > .column {
			margin-top: (0 - @index-height);
			padding-top: (@index-height + @column-padding);
		}

		> .row {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr;

			> .column {
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 1;
				grid-column-end: 2;

				opacity: 0;
				user-select: none;
				pointer-events: none;
				background: @background-colour;
				transition: all (@speed * @ratio);

				&:target,
				&:first-child {
					pointer-events: auto;
					user-select: auto;
					opacity: 1;
				}
			}
		}
	}
}

body > .index {
	@media screen {
		position: absolute;
		top: 0;
		left: @body-padding-x;
		right: @body-padding-x;
		width: calc(100% - (@body-padding-x * 2));
	}
}

body > .index,
.page > .index + .row > .banner {
	@media print {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-align-last: center;
		height: 100vh;
		padding: 0;
	}
}

.index + .page:last-child > .row:first-child:last-child > .column:first-child:last-child {
	padding: 0;
}
